<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sumi.brailler">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icone_braille_souls"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icone_braille_souls"
        android:supportsRtl="true"
        android:theme="@style/FullscreenTheme">
        <activity android:name=".MenuPrincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JogoPrincipal" />
        <activity android:name=".SeletorDificuldade"
            android:noHistory="true"/>
        <activity android:name=".TradutorParaBraille"/>
    </application>

</manifest>